.nav {
    background: rgba(204, 187, 153, 1);
    font-family: 'Rufina', serif;
    color: #FFFFFF;
}

.link {
    font-size: 1.1em;
}

.link:hover { /*not working, figure out how to get links to change color on hover*/
    color: grey;
}

.pink {
    background: rgba(252, 219, 211, 1);
    display: inline-block;
    font-family: 'Rufina', serif;
    color: #573C3C;
}

.name {
    font-size: 4em;
    position: relative;
    padding-bottom: 0px;
    padding-left: 20px;
}

.beige {
    background: rgba(255, 250, 245, 1);
    display: inline-block;
    font-family: 'Rufina', serif;
    color: #573C3C;
}

h1 {
    position: relative;
    padding: 20px;
}

.welcome {
    text-align: center;
    color: #573C3C;
}

