/* COLOURS USED 
    pink:  rgba(252, 219, 211, 1)
    green: rgba(108, 156, 108, 1)
    bg beige:  rgba(255, 250, 245, 1)
    nav brown:  rgba(204, 187, 153, 1)
    text brown: #573C3C
*/

html {
    scroll-behavior: smooth;
  }

.nav {
    background: rgba(204, 187, 153, 1);
    font-family: 'Rufina';
    color: #FFFFFF;
}

.link {
    font-size: 1.1em;
}

.pink {
    background: rgba(252, 219, 211, 1);
    display: inline-block;
    font-family: 'Rufina', serif;
    color: #573C3C;
}

.name {
    font-size: 4em;
    position: relative;
    padding-bottom: 0px;
    padding-left: 20px;
}

.beige {
    background: rgba(255, 250, 245, 1);
    display: inline-block;
    font-family: 'Rufina', serif;
    color: #573C3C;
}

h1 {
    position: relative;
    padding: 20px;
}

.welcome {
    text-align: center;
    color: #573C3C;
}

.pink-line {
    position: relative;
    background: rgba(252, 219, 211, 1);
    width: 412px;
    height: 7px;
    top: -30px;
    padding: 0;
    margin: 0;
}

.green-line {
    position: relative;
    background: rgba(108, 156, 108, 1);
    width: 412px;
    height: 7px;
    top: -30px;
    padding: 0;
    margin: 0;
}

.green-square {
    position: relative;
    width: 230px;
    height: 230px;
    left: 600px;
    background: rgba(108, 156, 108, 1);
}

.my-pic {
    position: relative;
    width: 230px;
    height: 230px;
    top: -200px;
    left: 520px;
    background: rgba(252, 219, 211, 1);
}

p {
    text-align: center;
}
.link:hover { /*not working, figure out how to get links to change color on hover*/
    color: rgb(108, 156, 108) !important;
}

.resume {
    position: relative;
    display: inline-block;
    color: #573C3C;
    padding-bottom: 0px;
    padding-left: 20px;
    top: 50px;
    left: -80px;
}

    .resume:hover {
        font-style: italic;
        color: #573C3C;
    }

.green-square {
    position: relative;
    width: 270px;
    height: 270px;
    top: -120px;
    left: 500px;
    background: rgba(108, 156, 108, 1);
}

.my-pic {
    position: relative;
    width: 270px;
    height: 270px;
    top: -360px;
    left: 470px;
    background: rgba(252, 219, 211, 1);
}

.hi {
    position: relative;
    left: 200px;
    top: -20px;
    text-align: right;
}

.bio {
    position: relative;
    top: -330px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
 
}

.project-right {
    border-radius: 25px;
    border-collapse: separate; 
    overflow: hidden;
    perspective: 1px;
    width: 475px;
    padding: 20px;
    max-width: 100%;
    height: auto;
    padding-right: 50px;
    font-family: 'Rufina', serif;

}

.project-left {
    border-radius: 25px;
    border-collapse: separate; 
    overflow: hidden;
    perspective: 1px;
    width: 475px;
    padding: 20px;
    max-width: 100%;
    height: auto;
    padding-left: 50px;
    font-family: 'Rufina', serif;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 48px;
}

.blurb {
    padding: 75px;
}

.bake-carousel {
    margin-left: 95px;
}

.icons {
    position: relative;
    margin: auto;
    
}